
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("C:\\html\\photo_2026-02-03_21-18-12.jpg"); /* mets ici ton image */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.form-container {
    background: rgba(255, 255, 255, 0.85);
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Champs */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
